
*{
    box-sizing:border-box;
    margin:0;
    border-radius:5px;
}

#navbar{
    position:absolute ;
    width:100%;
    height:100%;
}




button:focus{
    border:0;
}

   
.ex {
    position: relative;
    color:red;
    height:10%;
    background-color:yellow;
    margin:2px;
    width:100%;
}

#items{
    position:absolute ;
    height:80%;
    width: 100%;
    overflow:auto ;
    top:12%;
}

.item{
position: absolute;
width:28%;
margin:5px;
height:80%;
left: 60%;
/* background-color: inherit;
border-style: none;*/
}

.data,.item,.del,.edit{
position:absolute;
padding:5px;
margin:5px;
height:80%;
}

.data {
    font-size:16px;
    width:58%;
    left: 0%;
    }
 .menu{
 position:absolute;
 width:10%;
 left:90%;
 height:100%;
 }
 .edit,.del{
 width:200%;
 z-index:1;
 left:-200%;
 height:80%;
 display:none;
 }
 .menuSimbol{
 position:relative;
 font-size:xx-large;
 z-index:3;
 left:50%;
 }
 
.edit{
    top:0%;
}
.del {
    color: red;
    top:100%;
}


#myApp {
    position:absolute ;
    width:100%;
    height:480px;
    overflow:scroll ;
}

#btns{
position:absolute;
    height:10%;
    width:100%;
    top:0%;
    font-size:x-large;
    
}


#add {
    position:absolute  ;
    height:100%;
    background-color:red;
    color:white;
    font-size:x-large;
    width:60%;
    z-index:2;
    bottom:0;
    
}

#totalSum{
    position:absolute;
    width:40%;
    height:100%;
    right:0%;
    background-color:blue;
    text-align:center ;
    font-size:20px;
    color:white;
}

#saveAll {
 
position: absolute;
bottom: 0;
left:0;
font-size: xx-large;
}
